.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  padding: 92px 12px 92px 36px ;
 }
  
.header__menu {
  grid-column: span 1;
  gap: 13px;
  margin-left: 26.52px;
  height: 22px;
 }
  
.header__links-list {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 32px;
  padding-bottom: 25px;
 }
  
.header__links-list-item {
  margin-bottom: -1px;
  border-bottom: 1px #000 solid;
 }

.header__links {
  all: unset;
  text-decoration: none;
 }
  
.header__links-list-item_no-bullit {
  border-bottom: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  list-style: none;
 }
  
.header__logo {
  grid-column: span 1;
  justify-content: start;
 }
 
.header__logo-image {
  width: 148px;
  height: 100%;
 }
  
.header__address {
  display: flex;
  grid-column: span 1;
  justify-content: right;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  max-width: 240px;
  margin-left: 181px;
  padding-right: 25.48px;
  text-decoration: none;
 }
  
.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #000;
}
  
.address a {
  text-decoration-line: none;
  border-bottom: 1px #000 solid;
}
  
.address span {
  font-family: Raleway, Arial, Helvetica, sans-serif;
 }

 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
 }
 
 .content-section {
  width: 100%;
  margin: 0 auto;
 }

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }
 
.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 0;
 }
  
.aligned-text {
  display: flex;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 6.25rem;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
 }
  
.aligned-text_center {
  display: flex;
  justify-content: center;
  line-height: 100%;
 }
  
.aligned-text_right {
  display: flex;
  justify-content: end;
  line-height: 100%;
 }
  
.letter-spacing-extended {
  letter-spacing: 60px;
 }
  
.no-letter-spacing {
  letter-spacing: 0;
 }
  
.cover__description {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-items: end;
  align-items: center;
  gap: 78px;
  padding: 135px 50px 50px;
 }
  
.cover__description-text {
  grid-column: span 1;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  font-style: normal;
  line-height: 127.273%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 1.1rem;
 }
  
.bet-button {
  color: #FFF;
  min-width: 257px;
  border: 1px solid currentColor;
  padding: 12px 32px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
 }

 .lots {
  padding: 0 25px;
}

.lots__heading {
  margin: 179px 40px 27px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 430px;
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 334px;
  min-height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 3;
  padding: 48px 40px;
  padding-bottom: 0;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 3;
  align-self: center;
  margin: auto 40px 48px;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 120%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 40px 2px;
  border-bottom: 1px #000 solid;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0 24px;
}

.about__column {
  grid-column: span 2;
}

.about__column:first-child {
  grid-column: span 1;
  margin: 180px auto 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding:  63px 47px;
  background-color: #000;
}

.about__logo-image {
  max-width: 148px;
  height: 100%;
}

.about__title {
  margin: 281px 0 100px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding:180px 50px 90px;
}

.footer .address {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  
} 
.footer__address {
  display: flex;
  grid-column: span 1;
  justify-content: right;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  max-width: 240px;
  padding-right: 25.48px;
  font-style:normal;
  text-decoration: none;
 }

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.footer__menu-link {
  display: block;
  border-bottom: 1px #000 solid;
  text-decoration: none;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  grid-column: span 1;
  justify-content: end;
  align-items: start;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  max-width: 48px;
  height: 100%;
}